Options +FollowSymlinks
RewriteEngine On

# deal with admin first
# Para que funcione hay que cambiar "tocomocho_admin" con el nombre que le tienen al proyecto
RewriteCond %{REQUEST_URI} ^/tocomocho_admin/(admin)
RewriteRule ^admin/assets/(.*)$ backend/web/assets/$1 [L]
RewriteRule ^admin/css/(.*)$ backend/web/css/$1 [L]

RewriteCond %{REQUEST_URI} !^/tocomocho_admin/backend/web/(assets|css)/
RewriteCond %{REQUEST_URI} ^/tocomocho_admin/(admin)
RewriteRule ^.*$ backend/web/index.php [L]


RewriteCond %{REQUEST_URI} ^/tocomocho_admin/(assets|css)
RewriteRule ^assets/(.*)$ frontend/web/assets/$1 [L]
RewriteRule ^css/(.*)$ frontend/web/css/$1 [L]

RewriteCond %{REQUEST_URI} !^/tocomocho_admin/(frontend|backend)/web/(assets|css)/
RewriteCond %{REQUEST_URI} !index.php
RewriteCond %{REQUEST_FILENAME} !-f [OR]
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^.*$ frontend/web/index.php